<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="Hostname" value="server=tcp:," />
		<add key="User" value="" />
		<add key="Password" value="" />
		<add key="Databasename" value="" />
		<add key="NoDataFormatFileName" value="ReadMe.txt" />
		<add key="NoDataFormatContent" value="Note: No data for" />		
		
		<!--<add key="DSTReportRootFolderName" value="Detailed DST Report" />
		<add key="DSTReportGWFolderName" value="GW_Detailed_DST_Report" />
		<add key="DSTReportGWFileName" value="GW_Detailed_DTS_Report_" />		
		<add key="DSTReportJBFolderName" value="JB_Detailed_DST_Report" />
		<add key="DSTReportJBFileName" value="JB_Detailed_DTS_Report_" />-->
		<add key="DSTReportSQLScript" value="Detailed_DST_Report.sql" />

		<!--<add key="RejectedReportRootFolderName" value="Rejected Orders Report" />
		<add key="RejectedReportGWFolderName" value="GW_Detailed_Rejected_Report" />
		<add key="RejectedReportGWFileName" value="GW_Rejected_Report_" />
		<add key="RejectedReportJBFolderName" value="JB_Detailed_Rejected_Report" />
		<add key="RejectedReportJBFileName" value="JB_Rejected_Report_" />-->
		<add key="RejectedReportSQLScript" value="Rejected_Order_Script.sql" />

		<!--<add key="ManualRelayReportRootFolderName" value="Manual Relayed Report" />
		<add key="ManualRelayReportGWFolderName" value="GW_Detailed_Manual_Relay_Report" />
		<add key="ManualRelayReportGWFileName" value="GW_Manual_Relay_Report_" />
		<add key="ManualRelayReportJBFolderName" value="JB_Detailed_Manual_Relay_Report" />
		<add key="ManualRelayReportJBFileName" value="JB_Manual_Relay_Report_" />-->
		<add key="ManualRelaySQLScript" value="Manual_Relayed_Order_Script.sql" />

		<!--<add key="TCPerAgentReportRootFolderName" value="TC Per Agent Report" />
		<add key="TCPerAgentReportGWFolderName" value="GW_Detailed_TC_Per_Agent_Report" />
		<add key="TCPerAgentReportGWFileName" value="GW_TC_Per_Agent_Report_" />
		<add key="TCPerAgentReportJBFolderName" value="JB_Detailed_TC_Per_Agent_Report" />
		<add key="TCPerAgentReportJBFileName" value="JB_TC_Per_Agent_Report_" />-->
		<add key="TCPerAgentSQLScript" value="tc_per_agent_reports.sql" />

	</appSettings>
</configuration>
